# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.vscode
src
test
appveyor.yml
.gitignore
.npmignore
tsconfig.json
tslint.json
__tests__
lib

# Do not publish this thing
.npmrc
